.catContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  position: relative;
}

.fruits,
.meat,
.grain,
.condiments,
.cannedFood,
.dairy,
.toiletries,
.homeSupplies,
.other {
  /* background-color: aqua; */
  height: 230px;
  position: relative;
  text-align: center;
  border: 1px solid black;
}

/* span {
  position: absolute;
  top: -0.5rem;
  left: 6rem;
  background-color: white;
} */

.addButton {
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
}
