.searchContainer {
  width: 100%;
  /* background-color: aqua; */
  height: 10%;
  display: grid;
  place-items: center;
  margin: 20px 0;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search input {
  height: 3rem;
  background-color: #fe9d0b;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 0 20px;
}
