.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: aqua; */
    height: 20%;
    padding-top: 1rem;
}

.auth{
    display: flex;
    justify-content: flex-end;
}

#it{
    color: darkorange;
    font-size: 2rem;
    font-weight: 500;
}
