.appContainer {
  width: 100dvw;
  height: 100dvh;
  /* background-color: aqua; */
  display: grid;
  place-content: center;
  overflow-x: hidden;
}

.layout {
  min-width: 80dvw;
  min-height: 100dvh;
  /* background-color: black; */
}

